@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Slab:wght@100..900&display=swap');

:root{
    --bg-color: #03181F;
    --primary-color: #319CB5;
    --accent-color: #CCF5FE;
    --text-color: #040D0F;
}

*{
    margin: 0;
}
html {
    scroll-behavior: smooth; /* Enables smooth scrolling */
}

body{
    background-color: var(--bg-color);
}

header{

    margin: 0 auto;
    background-color: black;

}

.header-nav{
    padding: 1rem 12rem;
    box-shadow:3px 3px 20px 3px  var(--primary-color) ;
    
}

.logo{
    font-family: "Oswald", serif;
    font-size: 2rem;
    text-decoration: none;
    color: var(--accent-color);
}

.content,.hcontent{
    padding: 1rem;
    margin: auto 13rem;
    color: var(--accent-color);
    display: inline-block;
}
h1{
    font-family: "Oswald", serif;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
}
h3{
    font-family: "Oswald", serif;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}
.hcontainer{
    display: flex;
    max-width: 2064px;
    border: 8px solid var(--primary-color);
    padding: 1rem;
    box-shadow: 5px 5px 15px 3px  var(--accent-color) ;
    justify-content: center;
    align-items: center;

}
.img{
    width: 250px;
    height: 300px;
    margin: 1rem;
    border: 3px solid var(--accent-color);
    box-shadow: 1px 1px 5px 2px  var(--primary-color);
    transition: 1.5s;
    
}
.img:hover{
    width: 350px;
    height: 400px;
    border: 8px solid var(--primary-color);
    box-shadow: 5px 5px 15px 3px  var(--accent-color)  ;
    transition: 1.5s;
    
}
p{
    font-family: "Oswald", serif;
    font-size: 1.2rem;
    text-align: left;
    margin-top: 1rem;
    text-align: justify;
}

.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.img1{
    width: 240px;
    height: 300px;
    margin: 0.2rem;
    border: 3px solid var(--accent-color);
    box-shadow: 1px 1px 5px 2px  var(--primary-color);
    transition: 1.5s;
    
}
.img1:hover{
    width: 245px;
    height: 305px;
    border: 8px solid var(--primary-color);
    box-shadow: 5px 5px 15px 3px  var(--accent-color)  ;
    transition: 1.5s;
    
}
.pics2{
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.pics3{
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--text-color);
    position: relative;
    overflow:hidden;
}
.pics3 img{
    object-fit: cover;   
    opacity: 0; /* Hide image */
    transition: opacity 1s;
}
.pics3:hover img {
    transition: 5s ease-in-out;
    opacity: 1; /* Show image */
}


footer{
    font-family: "Oswald", serif;
    font-size: 2rem;
    text-align: center;
    color: var(--accent-color);
}


@keyframes appear {
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

section{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}